spring:
  application:
    name: hello-spring
  thymeleaf:
    cache: false
  devtools:
    livereload:
      enabled: true
  freemarker:
    cache: false
  datasource:
    url: jdbc:h2:tcp://localhost/~/test
    driver-class-name: org.h2.Driver
    username: sa
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
